body {
    background-color: white;
    font-family: "Roboto", serif;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0;
    width: 100%;
}

/* ----------------------------------------- */

#camperz-post {
    max-width: 1200px;
    margin: auto;
}

#camperz-post .wp-block-post-title {
    margin-top: 0;
}

#camperz-post img {
    float: left;
    border-left: 10px solid #FFCC02;
}

.block_story_teaser_big h2 {
    display: flex;
    font-size: 28px;
    margin-bottom: 0;
}

.block_story_teaser_big li {
    float: left;
    width: calc(50% - 20px);
    margin-right: 20px;
}

.story_teaser_big p {
    font-size: 16px;
    font-weight: 300;
}

.story_teaser_big .wp-block-post-excerpt__more-link {
    background-color: #FFCC02;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
}

.story_teaser_big img {
    float: left;
    border-left: 10px solid #FFCC02;
    width: 250px;
    margin-right: 20px;
}

