<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group -->
<main style="margin-top:var(--wp--preset--spacing--50)">
    <div id="camperz-post" style="display: flex">
        <div style="float: left; margin-right: 20px; flex: 100%">
            <!-- wp:post-featured-image  /-->
            <!-- wp:template-part {"slug":"post-meta"} /-->
        </div>
        <div>
            <!-- wp:post-title /-->
            <!-- wp:post-content  /-->
            <!-- wp:template-part {"slug":"comments","tagName":"section"} /-->
        </div>
    </div>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
